.hidden {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align content to the top */
  min-height: 100vh; /* Ensure the body spans the full height of the viewport */
  background-color: #f9f9f9;
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.main-content {
  width: 100%; /* Ensure the main content spans the full width */
  max-width: 800px; /* Optional: Limit the width for better readability */
}

.questionnaire {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the top */
  justify-content: flex-start; /* Ensure content starts from the top */
  gap: 20px; /* Add spacing between questions */
  width: 100%; /* Ensure it spans the full width */
}

.question-container {
  width: 100%;
  text-align: center;
}

.question-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.radio-group-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.radio-label {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.radio-label:hover {
  transform: scale(1.1);
}

.radio-label input[type="radio"] {
  display: none;
}

.radio-label span {
  display: none;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Show the emoji when selected or hovered */
.radio-label:hover span,
.radio-label input[type="radio"]:checked + span {
  display: inline-block;
}

.radio-label.size--70 {
  width: 70px;
  height: 70px;
}

.radio-label.size--56 {
  width: 56px;
  height: 56px;
}

.radio-label.size--46 {
  width: 46px;
  height: 46px;
}

.radio-label.size--36 {
  width: 36px;
  height: 36px;
}

.radio-label.color--green {
  background-color: #4caf50;
}

.radio-label.color--red {
  background-color: #ef0404;
}

.caption {
  font-size: 16px;
  font-weight: bold;
}

.caption.text--green {
  color: #4caf50;
}

.caption.text--red {
  color: #ef0404;
}